.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(270deg, #ff00f5, #00ffeb);
  background-size: 400% 400%;
  -webkit-animation: cycles 30s ease infinite;
  animation: cycles 30s ease infinite;
  color: #ffffff;
}

@-webkit-keyframes cycles {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes cycles {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}